openapi: 3.2.0
info:
  title: USADF Grants Data Recipients API
  description: Access to US African Development Foundation (USADF) grant award data through the USASpending.gov API. Provides programmatic access to USADF grants, awards, recipients, and spending profiles as reported to the federal awards transparency system under the Digital Accountability and Transparency (DATA) Act. USADF data uses agency code CGAC 166. This spec represents the USADF-relevant subset of the USASpending.gov API surface.
  version: 1.0.0
  contact:
    name: USASpending Help Desk
    url: https://api.usaspending.gov
    email: usaspending.help@fiscal.treasury.gov
  x-generated-from: documentation
servers:
- url: https://api.usaspending.gov
  description: USASpending.gov API
security: []
tags:
- name: Recipients
  description: Organizations receiving USADF grants
paths:
  /api/v2/recipient/duns/{uei}/:
    get:
      operationId: getRecipient
      summary: USADF Get Grant Recipient
      description: Retrieve detailed profile for a USADF grant recipient by their Unique Entity Identifier (UEI). Returns recipient organization details and award history summary.
      tags:
      - Recipients
      parameters:
      - name: uei
        in: path
        required: true
        description: Unique Entity Identifier (UEI) for the recipient organization
        schema:
          type: string
        example: GH123456789
      - name: year
        in: query
        description: Fiscal year for award data context
        schema:
          type: string
        example: '2023'
      responses:
        '200':
          description: Recipient profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
              examples:
                getRecipient200Example:
                  summary: Default getRecipient 200 response
                  x-microcks-default: true
                  value:
                    id: rec-gh-001
                    uei: GH123456789
                    name: GHANA GRASSROOTS ENTERPRISE
                    recipient_level: R
                    location:
                      country_name: Ghana
                      country_code: GH
                    total_transaction_amount: 400000.0
                    total_transactions: 2
        '404':
          description: Recipient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PlaceOfPerformance:
      type: object
      description: Geographic location for award performance
      properties:
        country_name:
          type: string
          description: Country name
          example: Ghana
        country_code:
          type: string
          description: ISO country code
          example: GH
        city_name:
          type: string
          description: City name
          example: Accra
    APIError:
      type: object
      description: API error response
      properties:
        detail:
          type: string
          description: Error detail message
          example: Award not found.
        status:
          type: integer
          description: HTTP status code
          example: 404
    Recipient:
      type: object
      description: Full profile of a USADF grant recipient organization
      properties:
        id:
          type: string
          description: Recipient identifier
          example: rec-gh-001
        uei:
          type: string
          description: Unique Entity Identifier
          example: GH123456789
        name:
          type: string
          description: Organization name
          example: GHANA GRASSROOTS ENTERPRISE
        recipient_level:
          type: string
          description: Recipient level (R=recipient, C=child)
          example: R
        location:
          $ref: '#/components/schemas/PlaceOfPerformance'
        total_transaction_amount:
          type: number
          description: Total award amount received
          example: 400000.0
        total_transactions:
          type: integer
          description: Total number of awards received
          example: 2
externalDocs:
  description: USASpending API Documentation
  url: https://api.usaspending.gov/docs/endpoints
