openapi: 3.2.0
info:
  title: USADF Grants Data Agency API
  description: Access to US African Development Foundation (USADF) grant award data through the USASpending.gov API. Provides programmatic access to USADF grants, awards, recipients, and spending profiles as reported to the federal awards transparency system under the Digital Accountability and Transparency (DATA) Act. USADF data uses agency code CGAC 166. This spec represents the USADF-relevant subset of the USASpending.gov API surface.
  version: 1.0.0
  contact:
    name: USASpending Help Desk
    url: https://api.usaspending.gov
    email: usaspending.help@fiscal.treasury.gov
  x-generated-from: documentation
servers:
- url: https://api.usaspending.gov
  description: USASpending.gov API
security: []
tags:
- name: Agency
  description: USADF agency spending and budget data
paths:
  /api/v2/agency/166/awards/:
    get:
      operationId: getAgencyAwards
      summary: USADF Get Agency Award Summary
      description: Retrieve a summary of USADF grant award activity for a given fiscal year, including total obligations, number of awards, and breakdown by award type.
      tags:
      - Agency
      parameters:
      - name: fiscal_year
        in: query
        description: Fiscal year for the summary
        required: true
        schema:
          type: integer
        example: 2023
      - name: award_type_codes
        in: query
        description: Comma-separated award type codes (02=Block Grant, 03=Formula Grant, 04=Project Grant)
        schema:
          type: string
        example: 02,03,04
      responses:
        '200':
          description: USADF agency award summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyAwardSummary'
              examples:
                getAgencyAwards200Example:
                  summary: Default getAgencyAwards 200 response
                  x-microcks-default: true
                  value:
                    toptier_code: '166'
                    fiscal_year: 2023
                    transaction_count: 45
                    award_count: 45
                    total_obligations: 18500000.0
                    recipient_count: 42
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    APIError:
      type: object
      description: API error response
      properties:
        detail:
          type: string
          description: Error detail message
          example: Award not found.
        status:
          type: integer
          description: HTTP status code
          example: 404
    AgencyAwardSummary:
      type: object
      description: Summary of USADF agency award activity for a fiscal year
      properties:
        toptier_code:
          type: string
          description: USADF toptier agency code
          example: '166'
        fiscal_year:
          type: integer
          description: Fiscal year
          example: 2023
        transaction_count:
          type: integer
          description: Total number of award transactions
          example: 45
        award_count:
          type: integer
          description: Total number of unique awards
          example: 45
        total_obligations:
          type: number
          description: Total obligations in USD
          example: 18500000.0
        recipient_count:
          type: integer
          description: Number of unique recipients
          example: 42
externalDocs:
  description: USASpending API Documentation
  url: https://api.usaspending.gov/docs/endpoints
